attrs==25.3.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Deprecated==1.2.18
flasgger==0.9.7.1
Flask==3.1.0
flask-cors==5.0.1
Flask-Limiter==3.12
itsdangerous==2.2.0
Jinja2==3.1.6
Flask==3.1.0
flask-cors==5.0.1
Flask-Limiter==3.12
scikit-learn==1.6.1
xgboost==3.0.0
pandas==2.2.3
numpy==2.2.4
joblib==1.4.2
scipy==1.15.2
PyYAML==6.0.2
Werkzeug==3.1.3

